{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": { "sourceType": "script" },
  "globals": {
    "React": true,
    "PropTypes": true,
    "useTokenPagination": true,
    "Output": true,
    "Source": true,
    "ControlledDeclarative": true,
    "ControlledImperative": true,
    "Uncontrolled": true
  }
}
